<html ng-app="landingSite">

<head>
    <script src="/vendor/jquery-2.1.1/jquery.js"></script>
    <link rel="stylesheet" href="/vendor/bootstrap-3.2.0-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/bootstrap-3.2.0-dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/app/shared/custom-style.css">

    <link rel="stylesheet" href="/vendor/purecss-0.5.0/pure.css">
    <link rel="stylesheet" href="/vendor/purecss-0.5.0/forms.css">

    <script src="/vendor/bootstrap-3.2.0-dist/js/bootstrap.js"></script>

    <script src="/vendor/angularjs1.2.25/angular.js"></script>
    <script src="/vendor/angularjs1.2.25/angular-resource.js"></script>
    <script src="/vendor/angularjs1.2.25/angular-route.js"></script>

    <script src="/vendor/lodash-2.4.1/lodash.js"></script>

    <link rel="stylesheet" href="/vendor/toastr-2.0.3-30/toastr.css">
    <script src="/vendor/toastr-2.0.3-30/toastr.js"></script>

    <link rel="stylesheet" href="/vendor/purecss-0.5.0/email-layout/email.css">
    <link rel="stylesheet" href="/vendor/purecss-0.5.0/email-layout/email-old-ie.css">

    <link rel="stylesheet" href="/vendor/purecss-0.5.0/menu-layout/side-menu.css">
    <link rel="stylesheet" href="/vendor/purecss-0.5.0/menu-layout/side-menu-old-ie.css">

    <script src="/vendor/purecss-0.5.0/menu-layout/ui.js"></script>


    <!-- <script src="/app/main/app.js"></script> -->
    <script src="/app/landing/landing.js"></script>

    <!-- For landing page -->
    <link rel="stylesheet" href="/vendor/purecss-0.5.0/grids-responsive.css">
    <link rel="stylesheet" href="/app/landing/marketing-custom.css">
    <link rel="stylesheet" href="/app/landing/custom.css">


</head>

<body ng-controller="UserController">
    <div class="header">
        <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="">Share With Us</a>

            <ul>
                <li class="pure-menu-selected"><a ng-click="loginDisplay()">Login</a>
                </li>
                <!-- S -->
                <!-- Button trigger modal -->
                <!-- <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    Launch demo modal
                </button> -->

                <!-- Modal -->
                <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- E -->


                <li><a href="#" ng-click="signUpDisplay()">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="pure-menu">
        <div ng-if="showLogin" ng-controller="LogIn" class="pure-menu-">

            <div>
              <ul>
                <li>
                <label>Log in:</label>
                <label for="email">Email</label>
                <input id="email" type="email" ng-model="email" placeholder="Email">
                </li>
                <li>
                <label for="password">Password</label>
                <input id="password" type="password" ng-model="password" placeholder="Password">
                </li>
              </ul>
            </div>
        </div>
        <div ng-if="showSignUp" ng-controller="SignUp" class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
            <label for="">Sign up:</label>
            <label for="email">Email</label>
            <input id="email" type="email" ng-model="email" placeholder="Email">
            <label for="password">Password</label>
            <input id="password" type="password" ng-model="password" placeholder="Password">
        </div>

    </div>

    <div class="splash-container">
        <div class="splash">
            <img src="calendar-timer3.png" class="icon-cal" alt="">
            <h1 class="splash-head">Share With Us</h1>
            <p class="splash-subhead">
                An easy way to communicate and share with your community.
            </p>
            <p>
                <a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>
            </p>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="content">
            <h2 class="content-head is-center">Excepteur sint occaecat cupidatat.</h2>

            <div class="pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                    <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Get Started Quickly
                </h3>
                    <p>
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    Responsive Layouts
                </h3>
                    <p>
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Modular
                </h3>
                    <p>
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Plays Nice
                </h3>
                    <p>
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>
                </div>
            </div>
        </div>

        <div class="ribbon l-box-lrg pure-g">
            <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                <img class="pure-img-responsive" alt="File Icons" width="300" src="img/common/file-icons.png">
            </div>
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

                <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.
                </p>
            </div>
        </div>

        <div class="content">
            <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>

            <div class="pure-g">
                <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                    <form class="pure-form pure-form-stacked">
                        <fieldset>

                            <label for="name">Your Name</label>
                            <input id="name" type="text" placeholder="Your Name">


                            <label for="email">Your Email</label>
                            <input id="email" type="email" placeholder="Your Email">

                            <label for="password">Your Password</label>
                            <input id="password" type="password" placeholder="Your Password">

                            <button type="submit" class="pure-button">Sign Up</button>
                        </fieldset>
                    </form>
                </div>

                <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                    <h4>Contact Us</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <h4>More Information</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>

        </div>

        <div class="footer l-box is-center">
            View the source of this layout to learn more. Made with love by the YUI Team.
        </div>

    </div>

    <script src="/app/landing/modal.js"></script>
</body>

</html>
